body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
    margin: 0;
    padding: 0;
    border: 0;
    overflow: hidden;
    background-image: url(/images/Clouds.jpg);
    background-size:cover;
}

    .formSpace {
        display: flex;
        justify-content: center;
        align-items: center;
        order: 3;
        width: 50%;
        height: 10%;
        margin: 0%;
        padding: 0;
    }

        .searchDiv {
            background-color: rgba(0, 0, 0, 0.3);
            display: flex;
            flex-direction: row;
            height: 45%;
            width: 50%;
            border-radius: 25px;
        }

            .searchBox {
                padding-left: 10px;
                padding-right: 5px;
                background: none;
                border: none;
                outline: none;
                -webkit-appearance: none;
                -moz-appearance: none;
                appearance: none;
                height: auto;
                font-size: 20px;
                font-family: 'Exo 2', sans-serif;
                width: 90%;
                height: 80%;
            }

            .searchButton {

                width: 10%;
                height: 80%;
                margin-right: 5px;
                margin-top: 2px;
                object-fit: contain;
            }

            .searchButton:hover {
                cursor: pointer;
            }

    .dataDisplay {
        order: 1;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 100vw;
        height: 80%;
        margin: 0;
        padding: 0;
    }

        .mainDisplay{
            display: flex;
            justify-content: center;
            align-items: center;
            width: 100%;
            height: 50%;
            gap: 0%;

        }

            .temperatureBox{
                display: flex;
                justify-content: center;
                align-items: center;
                flex-direction: column;
                margin-left: 20%;
                padding: 0;
                width: 50%;
                position: static;
            }

            .temperature {
                margin: 0;
                font-size: 100px;
                font-family: 'Exo 2', sans-serif;
                height: 90%;
            }

            .tempOptions {
                height: 5%;
                width: 100%;
                display: flex;
                flex-direction: row;
                gap: 5%;
                justify-content: center;
                align-content: center;

            }

            .farenheit {
                background-color: rgba(0, 0, 0, 0.3);
                height: 5%;
                width: 5%;
                border-radius: 50%;
                justify-content: center;
                align-items: center;

            }

            .celsius {
                background-color: rgba(0, 0, 0, 0.3);
                height: 5%;
                width: 5%;
                border-radius: 50%;
                justify-items: center;
                align-content: center;

            }


            .descriptionBox{
                display: flex;
                justify-content: center;
                width: 50%;
                margin-right: 20%;
                padding: 0;
                position: static;
            }

            .description {
                margin: 0;
                font-size: 30px;
                font-family: 'Exo 2', sans-serif;
            }


        .minorDisplay {
            display: flex;
            flex-direction: row;
            justify-content: center;
            align-items: center;
            width: 90%;
            height: 20%;
            
        }

            .minorBox {
                height: 100%;
                width: 25%;
                display: flex;
                flex-direction: column;
                margin: 0;
                padding: 0;
                justify-items: center;
                align-items: center;
            }

            .minorText {
                margin: 0;
                font-size: 25px;
                font-family: 'Exo 2', sans-serif;
            }

            .minorTitle {
                display: none;
                margin: 0;
                font-size: 25px;
                font-family: 'Exo 2', sans-serif;
            }

        .locationDisplay {
            display: flex;
            flex-direction: row;
            justify-content: center;
            align-items: center;
            width: 90%;
            height: 10%;
            order: 2;

        }

        .location {
            margin: 0;
            font-size: 30px;
            font-family: 'Exo 2', sans-serif;
        }