body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-image: url(/images/Clouds.jpg);
    background-size:cover;
}

    .formSpace {
        display: flex;
        justify-content: center;
        align-items: center;
        order: 2;
        width: 100vw;
        height: 20%;
        margin: 0%;
        padding: 0;
    }

    .dataDisplay {
        order: 1;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 100vw;
        height: 80%;
        margin: 0;
        padding: 0;
    }

        .mainDisplay{
            display: flex;
            justify-content: center;
            align-items: center;
            width: 100vw;
            height: 70%;
            gap: 10%;

        }

            .temperatureBox{
                display: flex;
                margin: 0;
                padding: 0;
            }

            .temperature {
                margin: 0;
                font-size: 100px;
                font-family: 'Exo 2', sans-serif;
            }


            .descriptionBox{
                display: flex;
                margin: 0;
                padding: 0;
            }

            .description {
                margin: 0;
                font-size: 50px;
                font-family: 'Exo 2', sans-serif;
            }

        .minorDisplay {
            display: flex;
            flex-direction: row;
            justify-content: center;
            align-items: center;
            width: 100vw;
            height: 30%;
            
        }

            .humidityBox {
                height: 100%;
                width: 25%;
                display: flex;
                margin: 0;
                padding: 0;
                justify-content: center;
                align-content: center;
            }

            .humidity {
                margin: 0;
                font-size: 25px;
                font-family: 'Exo 2', sans-serif;
            }

            .windBox {
                height: 100%;
                width: 25%;
                display: flex;
                margin: 0;
                padding: 0;
                justify-content: center;
                align-content: center;
            }

            .wind {
                margin: 0;
                font-size: 25px;
                font-family: 'Exo 2', sans-serif;
            }

            .rainBox {
                height: 100%;
                width: 25%;
                display: flex;
                margin: 0;
                padding: 0;
                justify-content: center;
                align-content: center;
            }

            .rain {
                margin: 0;
                font-size: 25px;
                font-family: 'Exo 2', sans-serif;
            }

            .feelsBox {
                height: 100%;
                width: 25%;
                display: flex;
                margin: 0;
                padding: 0;
                justify-content: center;
                align-content: center;
            }

            .feels {
                margin: 0;
                font-size: 25px;
                font-family: 'Exo 2', sans-serif;
            }
